@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

header {
    /* border: 1px solid black; */
    background-color: #004C55;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.section-1, .section-3 {
    padding: 38px 0;
}

.section-1 {
    background-color: #004C55;
}

.wrapper {
    /* border: 1px solid black; */
    max-width: 1400px;
    margin: 0 auto;
}

nav {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 16px; */
}

nav img{
    width: 100px;
    height: auto;
}

.hero-content-container {
    /* border: 1px solid black; */
    background-color: #004C55;
    color: white;
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 0;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-content h1 {
    font-size: 48px;
    font-weight:900;
}

.hero-content p {
    font-size: 18px;
    font-weight: 400;
}

.hero-content-container img {
    width: 600px;
    height: auto;
    border-radius: 25px;
    box-shadow: 0px 10px 20px rgba(31, 31, 31, 0.219), 0px 6px 6px rgba(0, 0, 0, 0.233);
}

button:hover {
    cursor: pointer;
}

button {
    border: none;
    font-size: 18px;
}

.hero-content button {
    max-width: 150px;
    padding: 10px;
    background-color: #fff;
    color: #004C55;
    font-weight: 700;
    border-radius: 50px;
    font-family: Roboto, sans-serif;
}

.section-2, .section-4{
    padding: 58px 0;
}

.section-2 h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: #004C55;
    margin-bottom: 50px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card h3 {
    margin-top: 10px;
    color: #004C55;
}

.card p {
    color: #646869;
}

.card img {
    max-width: 250px;
    border-radius: 10px;
}

.section-3 {
    background-color: #e5e7eb;
}

.quote-container {
    /* border: 1px solid black; */
    padding: 68px;
}

blockquote .quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-container .author {
    text-align: right;
}

.closing-container {
    background-color: #004C55;
    color: #fff;
    padding: 4rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    margin: 32px 0;
}

.closing-content {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    max-width: 680px;
    gap: 10px;
}

.closing-content h3 {
    font-size: 28px;
    font-weight: bold;
}

.closing-container button {
    padding: 10px 28px;
    border-radius: 8px;
    background-color: #004C55;
    color: #fff;
    border: 1px solid #fff;
    font-weight: bold;
    font-family: Roboto, sans-serif;

}

.closing-container button:hover {
    background-color: #fff;
    color: #004C55;
}

footer {
    background-color: #e5e7eb;
    text-align: center;
    padding: 38px 0;
}
